.calculator {
	padding: 10px;
	height: 100vh;
	max-width: 600px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;

	&__top {
		flex: 1;
		font-family: 'Orbitron', serif;
		font-size: 2rem;
		display: flex;
		flex-direction: column;
		align-items: self-end;
		justify-content: flex-end;

		@media (max-width: 500px) {
			font-size: 1.5rem;
			padding: 10px;
		}
	}

	&__pad {
		margin: 0 auto;
		flex: 1;
		@media (max-width: 500px) {
			margin: 0;
		}

		button {
			background-color: transparent;
			outline: none;
			border: none;
			font-family: 'Orbitron', serif;
			font-size: 2rem;
			@media (max-width: 500px) {
				font-size: 1.5rem;
			}

			&:focus {
			}

			&:hover {
				font-weight: 500;
			}

			&.function-button {
				color: orange;
			}

			&.number-button {
				color: white;
			}
		}
	}
}
